#logout{
    position: relative;
    right: 10px;
}

.nav-bar{
    padding-bottom: 15px;
}

.form-inline{
    padding-right: 65px;
}

.nav-item{
    margin-right: 10px;
}

.nav-item-a{
    font-family: 'Roboto Condensed', sans-serif;
    color:whitesmoke;
    padding:10px;
}

.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 9px;
}

.container-fluid{
    padding-top: 20px;
    margin:auto;
    font-family: 'Roboto Mono', monospace;
    background-color: #ecfffd;
}

.card{
    border-radius: 20px;
}