#logout{
    position: relative;
    right: 10px;
}

.nav-bar{
    padding-bottom: 15px;
}

.form-inline{
    padding-right: 65px;
}

.nav-item{
    justify-content: right !important;
    margin-right: 10px;
}

.nav-item-a{
    font-family: 'Roboto Condensed', sans-serif;
    color:whitesmoke;
    font-size: 1.15rem;
    padding:10px;
}

.nav-item-a:hover{
    color: greenyellow;
}

.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 9px;
    color: #6dffff !important;
    font-size: 1.5em !important;
}

.container-fluid{
    padding-top: 20px;
    margin:auto;
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(to bottom,#c6ff65, #6fffff,#00a1a9);
    /* background-color: #92cc31; */
}

.card{
    border-radius: 20px;
    background-color:#fbff97 !important ;
}
.card img{
    background-color:#fbff97 !important ;
}

h1{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}